<footer [ngClass]="{ shadow: dropShadow }">
  <div class="abdel">
    <div class="madeBy">Made with <img class="heart" src="assets/heart.png" alt="love" /> by</div>
    <span class="author"
      >Abdelrahman Hegab
      <a href="https://github.com/Abdelrahman-7gab/" target="_blank">
        <img class="social" src="assets/github.png" alt="github"
      /></a>

      <a href="https://www.linkedin.com/in/abdelrahman-hegab-4779aa1a6/" target="_blank">
        <img class="social" src="assets/linkedin.png" alt="github"
      /></a>

    </span>
  </div>
  <div>Song API provided by Deezer</div>
  <div class="shahd">
    <div class="madeBy">Logo <img class="logo-head" src="assets/head-nav.png" /> made by the amazing</div>
    <span class="author">Shahd Hegab 
        <a href="https://www.instagram.com/shahd_gallery/" target="_blank">
            <img class="social" src="assets/insta.png" alt="github"
          /></a>
        
    </span>
  </div>
  <div>Lyrics API provided by Lyrics.ovh</div>
</footer>
