.page{    display: grid;
    place-items: center;
    min-height: 55vh;
    margin-top:2vh;
}

#home-logo{
    height: 25rem;
    max-width: 100%;
}

.background-waves{
    position: absolute;
    z-index: -1000;
}


.custom-shape-divider-top-1645189997 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1645189997 svg {
    position: relative;
    display: block;
    width: calc(125% + 1.3px);
    height: 5.3rem;
}

.custom-shape-divider-top-1645189997 .shape-fill {
    fill: #57ABC1;
}

@media screen and (max-width: 1125px){
    .custom-shape-divider-bottom-1655589447 svg {
        height: 7.7rem;
    }
}

@media screen and (max-width: 870px) {
    .custom-shape-divider-bottom-1655589447 svg {
        height: 6.2rem;
    }
}