#navbar{
    background: linear-gradient(to left, #57ABC1, transparent);;
    .logo{
        max-height: 6rem;
        max-width: 100%;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
}

:host ::ng-deep .search-window{
    margin-top: 18px;
    margin-right: 1rem;

    .large-input{
        width: 20vw !important;
    }
}

@media screen and (max-width: 768px){
    #navbar{
       flex-direction: column;
    }

    :host ::ng-deep .search-window{
        margin-top: 0;
        margin-right: 0;
    }
}
    
