<div class="search-window">

  <form (ngSubmit)="startSearch(searchInputForm.value)">
    <div class="search-input-container">
      <input
      [ngModel] = "searchService.searchBarValue"
        #searchInputForm
        class="large-input"
        type="text"
        placeholder="search for {{ AorAn(searchType) }} "
        name="search-input"
      />

      <div class="query-container">

        <select name="type" id="type" [(ngModel)]="searchType">
          <option selected value="track">Track</option>
          <option value="album">Album</option>
          <option value="artist">Artist</option>
        </select>
    </div>

      <button class="search-icon-button">
        <img
          class="search-icon"
          src="../../../assets/search-icon-2.svg"
          alt="search"
        />
      </button>
    </div>
  </form>
</div>
