.search-window {
  align-items: center;
  column-gap: 10px;
}

.search-input-container {
  border: 3.5px solid #556080;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 0.7rem;

  .search-icon-button{
      border: none;
      background-color: transparent;
      padding-top:5px;
  }

  .search-icon {
    width: 2.5rem;
    transform: scaleX(-1);
    cursor: pointer;
  }

  .search-icon:hover {
    transform: scaleX(-1.2) scaleY(1.2);
  }

  .large-input {
    width: 40vw;
    height: 3rem;
    border: none;
    font-size: 1.3rem;
    color: #556080;
    font-weight: 600;
    min-width: 15rem;
    max-width: 38rem;
  }

  .large-input::placeholder {
    font-weight: 400;
  }

  .large-input:focus {
    outline: none;
  }
}

.query-container {
  margin-top: 0.3rem;
  font-weight: 600;
  font-size: 25px;

  ul {
    display: flex;
    justify-content: space-around;

    li {
      list-style: none;
      cursor: pointer;
      color: #5a6482;
    }

    li:hover {
      color: #738EC3
    }

    .selectedChoice{
        color:#738EC3;
        text-decoration: underline;
    }

  }
}